[submodule "ext_programs/10x_saturate"]
	path = ext_programs/10x_saturate
	url = https://github.com/zolotarovgl/10x_saturate.git
[submodule "ext_programs/GeneExt"]
	path = ext_programs/GeneExt
	url = https://github.com/sebepedroslab/GeneExt.git
[submodule "ext_programs/souporcell"]
	path = ext_programs/souporcell
	url = https://github.com/wheaton5/souporcell.git
