# Ignore all .log and nextflow files
*.log
.next*
seq_techniques/oak_seq/barcodes_R2.txt
seq_techniques/10x_genomics/barcodes_R2.txt

# Ignore all files in the following directories
logs/*
seperate_scripts/*
work/*
conf/2*