nextflow.enable.dsl = 2

conda {
    enabled = true
    // Set the conda create timeout to verify environment being used for each process
    createTimeout = '1h' 
}

// Define profiles for different config files
profiles {
    slurm {
        process {
            queue = 'genoa64'
            executor = "slurm"
            clusterOptions = '--qos=short'
        }
        workDir = "/no_backup/asebe/bvanwaardenburg/work_dir"
    }
    '240810_ParseBio_Nvec_BCA1_BCA2' {
        includeConfig 'conf/240810_ParseBio_Nvec_BCA1_BCA2.config'
    }
    '240810_ParseBio_Nvec_BCA3_BCA4' {
        includeConfig 'conf/240810_ParseBio_Nvec_BCA3_BCA4.config'
    }
    '240810_ParseBio_Tcas' {
        includeConfig 'conf/240810_ParseBio_Tcas.config'
    }
    '241106_BD_Rhapsody_Nvec' {
        includeConfig 'conf/241106_BD_Rhapsody_Nvec.config'
    }
    '241204_ParseBio_Nvec_nuclei' {
        includeConfig 'conf/241204_ParseBio_Nvec_nuclei.config'
    }
    '241204_ParseBio_Tcas_nuclei' {
        includeConfig 'conf/241204_ParseBio_Tcas_nuclei.config'
    }
    '250115_ParseBio_Nvec_BCA9_BCA10' {
        includeConfig 'conf/250115_ParseBio_Nvec_BCA9_BCA10.config'
    }
    '250115_ParseBio_Pliv_BCA11_BCA12' {
        includeConfig 'conf/250115_ParseBio_Pliv_BCA11_BCA12.config'
    }
    '250115_ParseBio_Pliv_BCA13_BCA14' {
        includeConfig 'conf/250115_ParseBio_Pliv_BCA13_BCA14.config'
    }
    '250115_ParseBio_Nvec_BCA13_BCA14' {
        includeConfig 'conf/250115_ParseBio_Nvec_BCA13_BCA14.config'
    }
    '250115_ParseBio_Nvec_nuclei_BCA15_BCA16' {
        includeConfig 'conf/250115_ParseBio_Nvec_nuclei_BCA15_BCA16.config'
    }
}


// Basic parameters
// The following parmeters must either be specified in the first line of this chunk, 
// or as instructed, in a parameter file in the /conf folder: 
// - baseDir:   directory where the bca_preprocessing code is located
// - resDir:   data directory, in which the fastq files and the references are present. 
// - seqTech:   sequencing technique, at the moment only 'parse_biosciences' or 'bd_rhapsody'
params {
    barcodeDemux = "${params.baseDir}/seq_techniques/${params.seqTech}/barcodes_R1.txt"
    barcodeDir = "${params.baseDir}/seq_techniques/${params.seqTech}/barcodes_R1.txt \
                  ${params.baseDir}/seq_techniques/${params.seqTech}/barcodes_R2.txt \
                  ${params.baseDir}/seq_techniques/${params.seqTech}/barcodes_R3.txt"

    star_config_mkref_N = "${params.baseDir}/seq_techniques/${params.seqTech}/config_${params.seqTech}_starsolo_mkref_N.txt"
    star_config_mkref_CR = "${params.baseDir}/seq_techniques/${params.seqTech}/config_${params.seqTech}_starsolo_mkref_CR.txt"
    star_config_ED = "${params.baseDir}/seq_techniques/${params.seqTech}/config_${params.seqTech}_starsolo_ED.txt"
    star_config_CR = "${params.baseDir}/seq_techniques/${params.seqTech}/config_${params.seqTech}_starsolo_CR.txt" // not used anymore?
    star_config_CRED = "${params.baseDir}/seq_techniques/${params.seqTech}/config_${params.seqTech}_starsolo_CRED.txt"
    
    barcodeDoublet = params.barcodeDir.split()[0]
}


process {
    conda = "${params.baseDir}/bca_env_clean.yml"
    cache = 'lenient'
    queue = 'genoa64'
    executor = "slurm"

    // Default resources
    stageInMode = 'symlink'
    stageOutMode = 'move'
    clusterOptions = '--qos=short'
    cpus = '1'
    memory = 6.GB
    time = '3h'

    // Process-specific resources
    withName: 'DEMULTIPLEX' {
        clusterOptions = '--qos=short'
        cpus = 8
        memory = 20.GB
        time = '3h'
    }
    
    withName: 'RM_VARBASES' {
        clusterOptions = '--qos=short'
        memory = 32.GB
        time = '5h'
    }
    
    withName: 'GENINDEX_STARSOLO' {
        clusterOptions = '--qos=shorter'
        cpus = 4
        memory = 20.GB
        time = '2h'
        ext.args = { params.annot_type == 'GFF' ? '--sjdbGTFtagExonParentTranscript mRNA' : '' }
    }
    
    withName: 'REFGEN_PARSEBIO' {
        conda = "/users/asebe/bvanwaardenburg/miniconda3/envs/spipe"
        clusterOptions = '--qos=shorter'
        cpus = 4
        memory = 20.GB
        time = '2h'
    }

    withName: 'MAPPING_STARSOLO' {
        clusterOptions = { params.seqTech == 'bd_rhapsody' ? '--qos=long' : '--qos=short' }
        memory = { params.seqTech == 'bd_rhapsody' ? '226 GB' : '32 GB' }
        cpus = { params.seqTech == 'bd_rhapsody' ? 8 : 4 }
        time = { params.seqTech == 'bd_rhapsody' ? '20h' : '5h' }
        ext.args = { params.seqTech == 'bd_rhapsody' ? '--limitBAMsortRAM 6353859023' : '' }
    }

    withName: 'MAPPING_PARSEBIO' {
        conda = "/users/asebe/bvanwaardenburg/miniconda3/envs/spipe"
        clusterOptions = { params.seqTech == 'bd_rhapsody' ? '--qos=long' : '--qos=short' }
        cpus = { params.seqTech == 'bd_rhapsody' ? 8 : 4 }
        time = { params.seqTech == 'bd_rhapsody' ? '20h' : '5h' }
        memory = { params.seqTech == 'bd_rhapsody' ? '64 GB' : '32 GB' }
	    ext.args = { params.species == 'Tcas' ? '--kit_score_skip' : '' }
    }

    withName: 'GENE_EXT' {
        conda = "/users/asebe/bvanwaardenburg/miniconda3/envs/geneext"
        clusterOptions = '--qos=shorter'
        memory = 64.GB
        cpus = 4
        time = '1h'
    }

    withName: 'CELLBENDER' {
        conda = "${params.baseDir}/cellbender_env.yml"
        clusterOptions = '--qos=long'
        memory = 32.GB
        time = '16h'
    }
}


// Automatically removes work directories of succesful jobs to reduce storage
// cleanup = true

// Manifest
manifest {
    name = 'BCA Pre-processing Pipeline'
    author = 'Bonita van Waardenburg'
    description = 'Pipeline for pre-processing single-cell RNA sequencing data'
    version = '1.0.0'
    nextflowVersion = '>=21.04.0'
}


// Execution reports
// report: 	creates execution report, including summary,
// 			resources and tasks.
// dag :	creates a workflow diagram of the pipeline. 
// 			vertices in the graph represent the pipeline’s 
//  		processes and operators, while the edges represent 
// 			the data dependencies (i.e. channels) between them.
// timeline : 	creates execution timeline, displaying the 
//  			execution-, waiting- and staging times.

report {
    enabled = true
    file = "${params.resDir}/pipeline_info/execution_report.html"
    overwrite = true
    showTaskResources = true
    showTaskResourcesPercentage = true
}

timeline {
    enabled = true
    file = "${params.resDir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.resDir}/pipeline_info/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.resDir}/pipeline_info/pipeline_dag.svg"
    overwrite = true
}
