nextflow.enable.dsl = 2

conda {
    enabled = true
    // Set the conda create timeout to verify environment being used for each process
    createTimeout = '1h' 
}

/* Define profiles for config files
 * Nextflow requires the custom config files to be 
 * defined in the nextflow.config file as a profile, 
 * to be able to reference the params in this file.
*/
profiles {
    slurm {
        process {
            queue = 'genoa64'
            executor = "slurm"
            clusterOptions = '--qos=short'
        }
    }
    /* ======= !!! EDIT BELOW TO INCLUDE YOUR OWN CONFIG FILES !!! ======= */
    '240810_ParseBio_Nvec_BCA3_BCA4' {
        includeConfig 'conf/240810_ParseBio_Nvec_BCA3_BCA4.config'
    }
    /* ======= !!! EDIT ABOVE TO INCLUDE YOUR OWN CONFIG FILES !!! ======= */
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'


// Set default parameters
params {
    // Directory parameters
    code_dir =              "."
    output_dir =            "../output_dir"
    fastq_dir =             null
    protocol =              null
    seqspec_file =          null
    parsebio_groups =       [[]]

    // Reference parameters
    ref_fasta =             null
    ref_gtf =               null
    ref_parse_gtf =         "${params.ref_gtf}"
    mt_contig =             "^MT"
    grep_rrna =             "rRNA"

    mapping_software =      "starsolo"

    // Conditional parameters
    perform_geneext =           true
    perform_featurecounts =     true
    perform_kraken =            true
    perform_cellbender =        false
    kraken_db_path =            null

    // Commercial software
    cellranger_dir =            null
    bdrhap_pipeline_dir =       null
    parsebio_pipeline_dir =     null

    // Config options
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}

// Automatically removes work directories of succesful jobs to reduce storage
// cleanup = true

// Execution reports
timeline {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

// Manifest
manifest {
    name = 'BCA Pre-processing Pipeline'
    author = 'Bonita van Waardenburg'
    contributors    = [
        // Field with the details of the contributors to your pipeline. New with Nextflow version 24.10.0
        [
            name: 'Bonita van Waardenburg',
            affiliation: 'Centre de Regulació Genòmica (CRG)',
            email: 'bonita.vanwaardenburg@crg.eu',
            github: 'https://github.com/bonitavw',
            contribution: ['author', 'maintainer'],
            orcid: ''
        ],
    ]
    description = 'Biodiversity Cell Atlas Pre-processing Pipeline'
    version = '1.0.0'
    nextflowVersion = '>=21.04.0'
}
