params {
    baseDir = "/users/asebe/bvanwaardenburg/git/bca_preprocessing"
    resDir = "/no_backup/asebe/bvanwaardenburg/data/240810_ParseBio_Nvec_Tcas/Tcas"
    seqTech = "parse_biosciences"
    species = "Tcas"

    accessions = "/no_backup/asebe/bvanwaardenburg/data/accession_lists/Tcas_parse_biosciences_accessions.txt"
    
    annot_type = 'GTF'  // specify GTF or GFF
    ref_star_gtf = "${params.resDir}/genome/genomic.gtf"
    ref_parse_gtf = "${params.resDir}/genome/genomic.gtf"
    ref_fasta = "${params.resDir}/genome/GCF_031307605.1_icTriCast1.1_genomic.fna"

    groups = [['all', 'A10-A12'], ['A10', 'A10'], ['A11', 'A11'], ['A12', 'A12']]
}
