params {
    baseDir = "/users/asebe/bvanwaardenburg/git/bca_preprocessing"
    resDir = "/no_backup/asebe/bvanwaardenburg/data/241106_BD_Rhapsody_Nvec/Nvec"
    species = "Nvec"
    seqTech = "bd_rhapsody"
    
    accessions = "/no_backup/asebe/bvanwaardenburg/data/accession_lists/Nvec_bd_rhapsody_accessions.txt"
    
    annot_type = 'GTF'  // specify GTF or GFF
    ref_star_gtf = "${params.resDir}/genome/Nvec_v5_merged_annotation_sort.gtf"
    ref_parse_gtf = "${params.resDir}/genome/Nvec_v4_merged_annotation_parse_sort.gtf"
    ref_fasta = "${params.resDir}/genome/Nvec_vc1.1_gDNA_mtDNA.fasta"
}
