params {
    baseDir = "/users/asebe/bvanwaardenburg/git/bca_preprocessing"
    dataDir = "/users/asebe/bvanwaardenburg/git/data"
    outDir = "241204_ParseBio_Nvec_Tcas_nuclei/Nvec_FINAL"
    species = "Nvec"
    seqTech = "parse_biosciences"

    accessions = "${params.dataDir}/accession_lists/Nvec_Tcas_nuc_parse_biosciences_accessions.txt"
    
    annot_type = 'GTF'  // specify GTF or GFF
    ref_star_gtf = "${params.dataDir}/241204_ParseBio_Nvec_Tcas_nuclei/Nvec_FINAL/genome/Nvec_v5_merged_annotation_sort.gtf"
    ref_parse_gtf = "${params.dataDir}/241204_ParseBio_Nvec_Tcas_nuclei/Nvec_FINAL/genome/Nvec_v4_merged_annotation_parse_sort.gtf"
    ref_fasta = "${params.dataDir}/241204_ParseBio_Nvec_Tcas_nuclei/Nvec_FINAL/genome/Nvec_vc1.1_gDNA_mtDNA.fasta"

    groups = [['DCE_PRS', 'A1-A3'], ['DCE_FH', 'A10-A12']]
}