params {
    baseDir = "/users/asebe/bvanwaardenburg/git/bca_preprocessing"
    resDir = "/users/asebe/bvanwaardenburg/git/data/250115_ParseBio_Nvec_Tcas_Pliv_Cele/Pliv_BCA013_BCA014"
    species = "Pliv"
    seqTech = "parse_biosciences"

    annot_type = 'GTF'  // specify GTF or GFF
    ref_star_gtf = "${params.resDir}/genome/Pliv_aH2p.gn.gtf"
    ref_parse_gtf = "${params.resDir}/genome/Pliv_aH2p.gn.gtf"
    ref_fasta = "${params.resDir}/genome/Pliv_PqN3S_sm.fa"

    groups = [['DSP_Met_Lib', 'A1-A3']]
}