params {
    baseDir = "/users/asebe/bvanwaardenburg/git/bca_preprocessing"
    resDir = "/users/asebe/bvanwaardenburg/git/data/250115_ParseBio_Nvec_Tcas_Pliv_Cele/Pliv_BCA011_BCA012"
    species = "Pliv"
    seqTech = "parse_biosciences"

    annot_type = 'GTF'  // specify GTF or GFF
    ref_star_gtf = "${params.resDir}/genome/Pliv_aH2p.gn.gtf"
    ref_parse_gtf = "${params.resDir}/genome/Pliv_aH2p.gn.gtf"
    ref_fasta = "${params.resDir}/genome/Pliv_PqN3S_sm.fa"

    groups = [['1010_ACMEsorb_GM', 'A1-A2'], ['1010_ACMEsorb_Lib', 'A3-A4'], ['1010_DSP_CMFSV_Lib', 'A5-A6'], 
                ['1710_ACMEsorb_GM', 'A7-A8'], ['1710_ACMEsorb_Lib', 'A9-A10'], ['1710_DSP_CMFSW_Lib', 'A11-A12']]
}