params {
    baseDir = "/users/asebe/bvanwaardenburg/git/bca_preprocessing"
    resDir = "/no_backup/asebe/bvanwaardenburg/data/250115_ParseBio_Nvec_Tcas_Pliv_Cele/Tcas_BCA003_BCA004"
    seqTech = "parse_biosciences"
    species = "Tcas"

    accessions = "/no_backup/asebe/bvanwaardenburg/data/accession_lists/Tcas_3_4_parse_biosciences_accessions.txt"
    
    annot_type = 'GTF' // specify GTF or GFF
    ref_star_gtf = "${params.resDir}/genome/genomic.gtf"
    ref_parse_gtf = "${params.resDir}/genome/genomic.gtf"
    ref_fasta = "${params.resDir}/genome/GCF_031307605.1_icTriCast1.1_genomic.fna"

    groups = [['ACMEsorb_CP', 'A10-A12']]
}