params {
    baseDir = "/users/asebe/bvanwaardenburg/git/bca_preprocessing"
    resDir = "/users/asebe/bvanwaardenburg/git/data/250115_ParseBio_Nvec_Tcas_Pliv_Cele/Nvec_BCA003_BCA004"
    species = "Nvec"
    seqTech = "parse_biosciences"
    
    annot_type = 'GTF'  // specify GTF or GFF
    ref_star_gtf = "${params.resDir}/genome/Nvec_v6_merged_noorphanpeaks_sort.gtf"
    ref_parse_gtf = "${params.resDir}/genome/Nvec_v6_merged_noorphanpeaks_sort.gtf"
    ref_fasta = "${params.resDir}/genome/Nvec_vc1.1_gDNA_mtDNA.fasta"

    groups = [['ACMEsorb_cold_PR', 'A1-A3'], ['Vivophix_sonic', 'A4-A6'], ['DSP_CMFSW_Lib', 'A7-A9']]
}
