params {
    /* Path to the BCA-preprocessing directory
     * Will be used to access sequencing-specific code & files,
     * and to run parts of the pipeline. 
    */
    code_dir = ""
    
    /* Path to the results directory
     * All output files created by the pipeline will be stored here. 
     * IMPORTANT: has to exist before running.
    */
    output_dir = ""

    // Path to the directory where the FASTQ files are stored
    fastq_dir = ""

    // Number of expected cells
    n_expected_cells = 0
    
    /* SEQUENCING TECHNIQUE 
     *
     * Currently supporting the following sequencing techniques:
     * - "oak_seq"
     * - "parse_biosciences"
     * - "bd_rhapsody"
     * - "10xv3"
     * - "sci_rna_seq3"
     *
     * If you are using a different sequencing technique, create a 
     * seqspec file and set protocol = "seqspec". Be aware, this will follow a 
     * basic approach and will not be optimized for your specific
     * sequencing technique.
    */
    protocol = ""

    /* SEQSPEC
     *
     * Optional: Specify the path to the seqspec file.
     * If a seqspec file is provided, the pipeline will use the parameters
     * defined in the seqspec file, except for if the sequencing technique
     * is the same as the one defined in the pipeline (protocol).
    */
    seqspec = ""

    // Software used during mapping, can be "starsolo", "alevin", or "both"
    mapping_software = "starsolo"

    /* Reference genome files
     * Specify if the reference is a GTF or GFF file.
     * The references can differ for the STARsolo or Parse Biosciences pipeline
     * since Parse Biosciences has strict limits on the format and can give troubles.
    */
    annot_type = 'GTF' // specify GTF or GFF
    ref_gtf = ""
    ref_parse_gtf = ""
    ref_fasta = ""


    /* protocol SPECIFIC PARAMETERS: PARSE BIOSCIENCES
     *
     * Define groups of wells that should be processed together.
     * Important, should be defined as a nested list, even if only one group.
     * Example: groups = [['condition_1', 'A1-A3'], ['condition_2', 'A4-A6'], ...]
    */
    parsebio_groups = [[]]


    /* COMPARISON TO COMMERCIAL PIPELINES
     *
     * Installation paths of commercial software, uncomment ones that apply
     * to your analysis:
     * - cellranger_dir: 10x Genomics & OAK-seq
     * - bdrhap_pipeline_dir: BD Rhapsody
     * - parsebio_pipeline_dir: Parse Biosciences
    */
    cellranger_dir = ""
    bdrhap_pipeline_dir = ""
    parsebio_pipeline_dir = ""


    /* GENEEXT
    */
    perform_geneext = true


    /* CALCULATE MTDNA & RRNA CONTENT 
     * 
     * Variables for calculating mtDNA & rRNA content.   
     * - Mitochondrial DNA contig in GTF/GFF:           mt_contig   (e.g. 'NC_001328.1')
     * - Grep command to retrieve ribosomal RNA reads:  grep_rrna   (e.g. '_biotype "rRNA";')
     *
     * Species      Reference                                   mt_contig           grep_rrna
     * Nvec         Nvec_v5_merged_annotation_sort.gtf          OW052000.1          rRNA
     * Nvec         Nvec_v4_extended_cellranger.gtf             -                   -
     * Nvec         Nvec_v6_merged_noorphanpeaks_sort.gtf       OW052000.1          rRNA
     * Tcas         genomic.gtf                                 NC_003081.2         'gene_biotype "rRNA";'
     * Cele         Cele_all.annot.gtf                          NC_001328.1         '_biotype "rRNA";'
     * Pliv         Pliv_aH2p.gn.gtf                            -                   -
    */
    perform_featurecounts = false
    mt_contig=""
    grep_rrna=""


    /* INSPECTING UNMAPPED READS
     *
     * Path to the Kraken2 database, which will be used to classify the unmapped reads.
     * If the kraken_db_path is empty, the pipeline will first install the database 
     * (default: PlusPF_16GB) and then classify the reads.
    */
    perform_kraken = true
    kraken_db_path = ""


    /* CELLBENDER
    */
    perform_cellbender = false
}