/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for sequencing technique - specific parameters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Can be used by any config that customises the base path using:
        $params.sequencing_techniques / --sequencing_techniques
----------------------------------------------------------------------------------------
*/

params {
    sequencing_techniques {
        
        '10xv3' {
            bc_whitelist =          "https://teichlab.github.io/scg_lib_structs/data/10X-Genomics/3M-3pgex-may-2023.txt.gz"
            star_index =            "--genomeSAsparseD 3"
            starsolo =              "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 16 --soloUMIstart 17 --soloUMIlen 12 ",
                                    "--soloCBmatchWLtype 1MM_multi_Nbase_pseudocounts --soloUMIfiltering MultiGeneUMI_CR --soloMultiMappers EM ",
                                    "--soloUMIdedup 1MM_CR --clipAdapterType CellRanger4 --outFilterScoreMin 30 --outSAMunmapped Within ",
                                    "--soloFeatures Gene GeneFull GeneFull_Ex50pAS --outSAMattributes NH HI AS nM CR UR CB UB"
        }

        'oak_seq' {
            bc_whitelist   =        "https://teichlab.github.io/scg_lib_structs/data/10X-Genomics/3M-3pgex-may-2023.txt.gz"
            star_index =            "--genomeSAsparseD 3"
            starsolo =              "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 16 --soloUMIstart 17 --soloUMIlen 12 ",
                                    "--soloCBmatchWLtype 1MM_multi_Nbase_pseudocounts --soloUMIfiltering MultiGeneUMI_CR --soloMultiMappers EM ",
                                    "--soloUMIdedup 1MM_CR --clipAdapterType CellRanger4 --outFilterScoreMin 30 --outSAMunmapped Within ",
                                    "--soloFeatures Gene GeneFull GeneFull_Ex50pAS --outSAMattributes NH HI AS nM CR UR CB UB"
        }

        'parse_biosciences' {
            bc_whitelist_splitwells = "../assets/ParseBio_bwl_n26_R1_v3_4.txt"
            bc_whitelist =          "../assets/ParseBio_bwl_R3.txt ../assets/ParseBio_bwl_R2.txt ../assets/ParseBio_bwl_R1.txt"
            star_index =            "--genomeSAsparseD 3"
            starsolo =              "--soloType CB_UMI_Complex --soloCBposition 0_50_0_57 0_30_0_37 0_10_0_17 --soloUMIposition 0_0_0_9 ",
                                    "--soloCBmatchWLtype 1MM --soloUMIfiltering MultiGeneUMI_CR --soloUMIdedup 1MM_CR ",
                                    "--soloFeatures Gene GeneFull GeneFull_Ex50pAS --clipAdapterType CellRanger4 --soloMultiMappers EM ",
                                    "--soloStrand Forward --outFilterScoreMin 30 --outSAMunmapped Within --outSAMattributes NH HI AS nM CR UR CB UB"
        }

        'bd_rhapsody' {
            bc_whitelist =          "../assets/BDrhap_bwl_R1.txt ../assets/BDrhap_bwl_R2.txt ../assets/BDrhap_bwl_R3.txt"
            star_index =            "--genomeSAsparseD 3"
            starsolo =              "--soloType CB_UMI_Complex --soloCBposition 0_0_0_8 0_13_0_21 0_26_0_34 --soloUMIposition 0_35_0_42 --soloCBmatchWLtype 1MM ",
                                    "--outFilterScoreMinOverLread 0 --outFilterMatchNminOverLread 0 --outFilterMultimapScoreRange 0 --soloMultiMappers EM ",
                                    "--clip3pAdapterSeq AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA --seedSearchStartLmax 50 --outFilterMatchNmin 25 ",
                                    "--limitOutSJcollapsed 2000000 --outSAMunmapped Within --soloCBmatchWLtype 1MM --soloUMIfiltering MultiGeneUMI_CR ",
                                    "--soloUMIdedup 1MM_CR --soloFeatures Gene GeneFull GeneFull_Ex50pAS --outSAMattributes NH HI AS nM CR UR CB UB"
        }

        'sci_rna_seq3' {
            bc_whitelist =          ""
            bcl2fastq =             "--barcode-mismatches 1 --ignore-missing-positions --ignore-missing-controls --ignore-missing-filter ",
                                    "--ignore-missing-bcls --no-lane-splitting --minimum-trimmed-read-length 15 --mask-short-adapter-reads 15"
            fastp =                 "--detect_adapter_for_pe --qualified_quality_phred 15 --dont_eval_duplication --length_required 10"
            star_index =            "--genomeSAsparseD 1"  // default: 1
            starsolo =              "--soloType CB_UMI_Complex --soloCBposition 0_0_0_9 0_10_0_19 0_20_0_29 0_30_0_39 --soloUMIposition 0_40_0_47 ",
                                    "--soloCBmatchWLtype Exact --soloMultiMappers EM --outSAMmultNmax 1 --outSAMstrandField intronMotif ",
                                    "--outFilterScoreMinOverLread 0.33 --outFilterMatchNminOverLread 0.33 --outSAMunmapped Within ",
                                    "--soloFeatures GeneFull_Ex50pAS --outSAMattributes NH HI AS nM NM MD jM jI MC ch XS CR UR GX GN sM"
        }

        'seqspec' {
            // Barcode whitelist and barcode structure should be retrieved from the seqspec file
            bc_whitelist =          ""
            star_index =            "--genomeSAsparseD 3"
            starsolo =              "--soloCBmatchWLtype 1MM_multi_Nbase_pseudocounts --soloUMIfiltering MultiGeneUMI_CR --soloMultiMappers EM ",
                                    "--soloUMIdedup 1MM_CR --clipAdapterType CellRanger4 --outFilterScoreMin 30 --outSAMunmapped Within ",
                                    "--soloFeatures Gene GeneFull GeneFull_Ex50pAS --outSAMattributes NH HI AS nM CR UR CB UB"
        }
    }
}
