/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for sequencing technique - specific parameters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Can be used by any config that customises the base path using:
        $params.seqtech_parameters / --seqtech_parameters
----------------------------------------------------------------------------------------
*/

params {
    seqtech_parameters {
        '10xv1' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 14 --soloUMIstart 15 --soloUMIlen 10"
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
            alevin_bc_geometry =    "1[1-14]"
            alevin_umi_geometry =   "1[15-24]"
            alevin_read_geometry =  "2[1-end]"
        }


        '10xv2' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 16 --soloUMIstart 17 --soloUMIlen 10"
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
            alevin_bc_geometry =    "1[1-16]"
            alevin_umi_geometry =   "1[17-26]"
            alevin_read_geometry =  "2[1-end]"
        }

        '10xv3' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 16 --soloUMIstart 17 --soloUMIlen 12"
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
            alevin_bc_geometry =    "1[1-16]"
            alevin_umi_geometry =   "1[17-28]"
            alevin_read_geometry =  "2[1-end]"
        }

        '10xv4' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 16 --soloUMIstart 17 --soloUMIlen 12"
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
            alevin_bc_geometry =    "1[1-16]"
            alevin_umi_geometry =   "1[17-28]"
            alevin_read_geometry =  "2[1-end]"
        }

        'ultima_genomics' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 16 --soloUMIstart 17 --soloUMIlen 12"
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
            alevin_bc_geometry =    "1[1-16]"
            alevin_umi_geometry =   "1[17-28]"
            alevin_read_geometry =  "2[1-end]"
        }

        'oak_seq' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 16 --soloUMIstart 17 --soloUMIlen 12"
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
            alevin_bc_geometry =    "1[1-16]"
            alevin_umi_geometry =   "1[17-28]"
            alevin_read_geometry =  "2[1-end]"
        }

        'parse_biosciences_WT_mini' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Complex --soloCBposition 0_50_0_57 0_30_0_37 0_10_0_17 --soloUMIposition 0_0_0_9"
            star_soloCBmatchWLtype= "1MM"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
            alevin_bc_geometry =    "1[51-58,31-38,11-18]"
            alevin_umi_geometry =   "1[1-10]"
            alevin_read_geometry =  "2[1-end]"
        }

        'parse_biosciences_WT' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Complex --soloCBposition 0_50_0_57 0_30_0_37 0_10_0_17 --soloUMIposition 0_0_0_9"
            star_soloCBmatchWLtype= "1MM"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
            alevin_bc_geometry =    "1[51-58,31-38,11-18]"
            alevin_umi_geometry =   "1[1-10]"
            alevin_read_geometry =  "2[1-end]"
        }

        'bd_rhapsody_v1' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD = 3
            star_soloTypestring =   "--soloType CB_UMI_Complex --soloCBposition 0_0_0_8 0_21_0_29 0_43_0_51 --soloUMIposition 0_52_0_59"
            star_soloCBmatchWLtype= "1MM"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_clipAdapterType =  "Hamming"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
            star_extraargs =     """--outFilterScoreMinOverLread 0 --outFilterMatchNminOverLread 0 --outFilterMultimapScoreRange 0 --clip3pAdapterSeq AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA --seedSearchStartLmax 50 --outFilterMatchNmin 25 --limitOutSJcollapsed 2000000"""
            alevin_bc_geometry =    "1[1-9,22-30,44-52]"
            alevin_umi_geometry =   "1[53-60]"
            alevin_read_geometry =  "2[1-end]"
        }

        'bd_rhapsody_enhancedbeads' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD = 3
            star_soloTypestring =   "--soloType CB_UMI_Complex --soloCBposition 0_0_0_8 0_13_0_21 0_26_0_34 --soloUMIposition 0_35_0_42"
            star_soloCBmatchWLtype= "1MM"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_clipAdapterType =  "Hamming"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
            star_extraargs =     """--outFilterScoreMinOverLread 0 --outFilterMatchNminOverLread 0 --outFilterMultimapScoreRange 0 --clip3pAdapterSeq AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA --seedSearchStartLmax 50 --outFilterMatchNmin 25 --limitOutSJcollapsed 2000000"""
            // Positions apply after RM_VARBASES removed the 0-3 variable bases in front of CLS1
            alevin_bc_geometry =    "1[1-9,14-22,27-35]"
            alevin_umi_geometry =   "1[36-43]"
            alevin_read_geometry =  "2[1-end]"
        }

        'sciRNAseq3' {
            bcl2fastq =             """--barcode-mismatches 1 --ignore-missing-positions --ignore-missing-controls --ignore-missing-filter --ignore-missing-bcls --no-lane-splitting --minimum-trimmed-read-length 15 --mask-short-adapter-reads 15"""
            fastp_qualified_quality_phred = 15
            fastp_length_required = 10
            star_genomeSAindexNbases = 14
            star_genomeSAsparseD =  1
            star_soloTypestring =   "--soloType CB_UMI_Complex --soloCBposition 0_0_0_9 0_10_0_19 0_20_0_29 0_30_0_39 --soloUMIposition 0_40_0_47"
            star_soloCBmatchWLtype= "Exact"
            star_soloUMIfiltering=  "-"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_All"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_clipAdapterType =  "Hamming"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_outSAMattributes=  "NH HI AS nM NM MD jM jI MC ch XS CR UR GX GN sM "
            star_solocellfilter =   "EmptyDrops_CR"
            star_extraargs =     """--outSAMmultNmax 1 --outSAMstrandField intronMotif --outFilterScoreMinOverLread 0.33 --outFilterMatchNminOverLread 0.33"""
            // Positions apply to the 48 nt read SCIROCKET_DEMUX writes: p5, p7, ligation, rt (10 nt each) and UMI
            alevin_bc_geometry =    "1[1-10,11-20,21-30,31-40]"
            alevin_umi_geometry =   "1[41-48]"
            alevin_read_geometry =  "2[1-end]"
        }

        'seqspec' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            fastp_qualified_quality_phred = 15
            fastp_length_required = 10
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD = 3
            star_soloTypestring =   ""  // to be defined per project based on seqspec
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
            alevin_bc_geometry =    ""  // to be defined per project based on seqspec
            alevin_umi_geometry =   ""  // to be defined per project based on seqspec
            alevin_read_geometry =  "2[1-end]"
        }
    }
}
