/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for sequencing technique - specific parameters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Can be used by any config that customises the base path using:
        $params.seqtech_parameters / --seqtech_parameters
----------------------------------------------------------------------------------------
*/

params {
    seqtech_parameters {
        '10xv1' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 14 --soloUMIstart 15 --soloUMIlen 10"
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
        }


        '10xv2' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 16 --soloUMIstart 17 --soloUMIlen 10"
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
        }

        '10xv3' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 16 --soloUMIstart 17 --soloUMIlen 12"
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
        }

        'ultima_genomics' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 16 --soloUMIstart 17 --soloUMIlen 12"
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
        }

        'oak_seq' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 16 --soloUMIstart 17 --soloUMIlen 12"
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
        }

        'parse_biosciences_WT_mini' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Complex --soloCBposition 0_50_0_57 0_30_0_37 0_10_0_17 --soloUMIposition 0_0_0_9"
            star_soloCBmatchWLtype= "1MM"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
        }

        'parse_biosciences_WT' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD =  3
            star_soloTypestring =   "--soloType CB_UMI_Complex --soloCBposition 0_50_0_57 0_30_0_37 0_10_0_17 --soloUMIposition 0_0_0_9"
            star_soloCBmatchWLtype= "1MM"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
        }

        'bd_rhapsody' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD = 3
            star_soloTypestring =   "--soloType CB_UMI_Complex --soloCBposition 0_0_0_8 0_13_0_21 0_26_0_34 --soloUMIposition 0_35_0_42"
            star_soloCBmatchWLtype= "1MM"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_clipAdapterType =  "Hamming"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
            star_extraargs =     """--outFilterScoreMinOverLread 0 --outFilterMatchNminOverLread 0 --outFilterMultimapScoreRange 0 --clip3pAdapterSeq AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA --seedSearchStartLmax 50 --outFilterMatchNmin 25 --limitOutSJcollapsed 2000000"""
        }

        'sciRNAseq3' {
            bcl2fastq =             """--barcode-mismatches 1 --ignore-missing-positions --ignore-missing-controls --ignore-missing-filter --ignore-missing-bcls --no-lane-splitting --minimum-trimmed-read-length 15 --mask-short-adapter-reads 15"""
            fastp_qualified_quality_phred = 15
            fastp_length_required = 10
            star_genomeSAindexNbases = 14
            star_genomeSAsparseD =  1
            star_soloTypestring =   "--soloType CB_UMI_Complex --soloCBposition 0_0_0_9 0_10_0_19 0_20_0_29 0_30_0_39 --soloUMIposition 0_40_0_47"
            star_soloCBmatchWLtype= "Exact"
            star_soloUMIfiltering=  "-"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_All"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_clipAdapterType =  "Hamming"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_outSAMattributes=  "NH HI AS nM NM MD jM jI MC ch XS CR UR GX GN sM "
            star_solocellfilter =   "EmptyDrops_CR"
            star_extraargs =     """--outSAMmultNmax 1 --outSAMstrandField intronMotif --outFilterScoreMinOverLread 0.33 --outFilterMatchNminOverLread 0.33"""
        }

        'seqspec' {
            bcl2fastq =             "  --no-lane-splitting --create-fastq-for-index-reads"
            fastp_qualified_quality_phred = 15
            fastp_length_required = 10
            star_genomeSAindexNbases = 12
            star_genomeSAsparseD = 3
            star_soloTypestring =   ""  // to be defined per project based on seqspec
            star_soloCBmatchWLtype= "1MM_multi_Nbase_pseudocounts"
            star_soloUMIfiltering=  "MultiGeneUMI_CR"
            star_soloMultiMappers=  "EM"
            star_soloUMIdedup =     "1MM_CR"
            star_soloFeatures =     "Gene GeneFull_Ex50pAS"
            star_clipAdapterType =  "CellRanger4"
            star_outFilterScoreMin= 30
            star_outSAMunmapped =   "Within"
            star_outSAMattributes=  "NH HI AS nM CR UR CB UB "
            star_solocellfilter =   "EmptyDrops_CR"
        }
    }
}
