nextflow.enable.dsl = 2

profiles {
    conda {
        conda.enabled = true
        process.conda = '/users/asebe/bvanwaardenburg/miniconda3/envs/bca_int'
    }
    slurm {
        conda.enabled = true
        process {
            cache='lenient'
            queue='genoa64'
            cpus='1'
            executor = "slurm"
	    workDir = "/users/asebe/bvanwaardenburg/git/bca_preprocessing/data"
	    stageInMode = 'symlink'
	    stageOutMode = 'move'
            clusterOptions = { task.time <= 3.h ? '--qos=shorter' : 
            (task.time <= 6.h ? '--qos=short' : 
            (task.time <= 12.h ? '--qos=normal' : 
            (task.time <= 24.h ? '--qos=long' : 
            (task.time <= 48.h ? '--qos=vlong' : '--qos=marathon' )))) }
 
            withLabel: big_cpus {
                cpus = 5
                time = '2h'
                memory = 10.GB
            }
 
            withLabel: big_mem {
                clusterOptions = '--qos=shorter'
                time = '1h'
                memory = 30.GB
            } 
        }
    }
}
