params {
    // General parameters
    input = "${projectDir}/examples/10x/conf/spis_10x_samplesheet.csv"
    outdir = "${projectDir}/examples/10x/output/"
    ref_gtf = "${projectDir}/examples/10x/test_data/spis_long.annot.gtf"
    ref_fasta = "${projectDir}/examples/10x/test_data/spis_gDNA.fa"

    // Protocol-specific parameters
    protocol = "10xv3"
    bc_whitelist = "https://teichlab.github.io/scg_lib_structs/data/10X-Genomics/3M-february-2018.txt.gz"

    // Enable/disable processes
    perform_geneext = true
    perform_10x_saturate = true
    perform_doublet_detection = false
    perform_kraken = false
}
