params {
    // General parameters
    input = "${projectDir}/examples/mars-seq/conf/nvec_marsseq_samplesheet.csv"
    outdir = "${projectDir}/examples/mars-seq/output/"
    ref_gtf = "${projectDir}/examples/mars-seq/test_data/nvec_long.annot.gtf"
    ref_fasta = "${projectDir}/examples/mars-seq/test_data/nvec_gDNA.fa"

    // Protocol-specific parameters
    protocol = "marsseq_v2"

    // Enable/disable processes
    perform_demultiplexing = false
    perform_geneext = true
    perform_10x_saturate = true
    perform_featurecounts = true
    perform_doublet_detection = false
    perform_kraken = false
}
