params {
    // General parameters
    input = "examples/mars-seq/conf/nvec_marsseq_samplesheet.csv"
    outdir = "examples/mars-seq/output/"
    ref_gtf = "examples/mars-seq/test_data/nvec_long.gtf"
    ref_fasta = "examples/mars-seq/test_data/nvec_gDNA.fa"

    // Protocol-specific parameters
    protocol = "marsseq_v2"

    // Enable/disable processes
    perform_geneext = true
    perform_10x_saturate = true
    perform_featurecounts = true
    perform_kraken = true
}
