params {
    baseDir = "/users/asebe/bvanwaardenburg/git/bca_preprocessing"
    resDir = "/users/asebe/bvanwaardenburg/git/data/241106_BD_Rhapsody_Nvec/Nvec_paired"
    species = "Nvec"
    seqTech = "bd_rhapsody"
    
    annot_type = 'GTF'  // specify GTF or GFF
    ref_star_gtf = "${params.resDir}/genome/Nvec_v4_extended_cellranger.gtf"
    ref_parse_gtf = "${params.resDir}/genome/Nvec_v4_extended_cellranger.gtf"
    ref_fasta = "${params.resDir}/genome/Nvec_vc1.1_gDNA_mtDNA.fasta"

    // Directory where BD Rhapsody pipeline is installed (cwl-runner)
    bdrhap_pipeline_dir="/users/asebe/bvanwaardenburg/pkgs/BDRhapsody_pipeline/CRSwDev-cwl-8d252728f875/v2.2.1"
}
