params {
    /* Path to the BCA-preprocessing directory
     * Will be used to access sequencing-specific code & files,
     * and to run parts of the pipeline. 
    */
    code_dir = "/users/asebe/bvanwaardenburg/git/bca_preprocessing"

    /* Path to the results directory
     * All output files created by the pipeline will be stored here. 
     * IMPORTANT: has to exist before running and must contain at least:
     * output_dir/
     * - /fastq/
     *      - FASTQ files
     * - /genome/
     *      - .fasta
     *      - .gtf/.gff 
    */
    output_dir = "/users/asebe/bvanwaardenburg/git/data/250115_ParseBio_Nvec_Tcas_Pliv_Cele/Pliv_BCA013_BCA014"

    /* Currently supporting the following sequencing techniques:
     * - "oak_seq"
     * - "parse_biosciences"
     * - "bd_rhapsody"
    */
    protocol = "parse_biosciences"

    /* Reference genome files
     * Specify if the reference is a GTF or GFF file.
     * The references can differ for the STARsolo or Parse Biosciences pipeline
     * since Parse Biosciences has strict limits on the format and can give troubles.
    */
    annot_type = 'GTF'  // specify GTF or GFF
    ref_gtf = "${params.output_dir}/genome/Pliv_aH2p.gn.gtf"
    ref_parse_gtf = "${params.output_dir}/genome/Pliv_aH2p.gn.gtf"
    ref_fasta = "${params.output_dir}/genome/Pliv_PqN3S_sm.fa"



    /* protocol SPECIFIC PARAMETERS: PARSE BIOSCIENCES
     *
     * Define groups of wells that should be processed together.
     * Important, should be defined as a nested list, even if only one group.
     * Example: groups = [['condition_1', 'A1-A3'], ['condition_2', 'A4-A6'], ...]
    */
    groups = [['DSP_Met_Lib', 'A1-A3']]


    /* COMPARISON TO COMMERCIAL PIPELINES
     *
     * Installation paths of commercial software, uncomment ones that apply
     * to your analysis:
     * - cellranger_dir: 10x Genomics & OAK-seq
     * - bdrhap_pipeline_dir: BD Rhapsody
     * - parsebio_pipeline_dir: Parse Biosciences
    */
    // cellranger_dir = "/users/asebe/bvanwaardenburg/pkgs/cellranger-9.0.1"
    // bdrhap_pipeline_dir = "/users/asebe/bvanwaardenburg/pkgs/BDRhapsody_pipeline/CRSwDev-cwl-8d252728f875/v2.2.1"
    parsebio_pipeline_dir = "/users/asebe/bvanwaardenburg/pkgs/ParseBiosciences-Pipeline.1.3.1"


    /* GENEEXT
    */
    perform_geneext = true


    /* CALCULATE MTDNA & RRNA CONTENT 
     * 
     * Variables for calculating mtDNA & rRNA content.   
     * - Mitochondrial DNA contig in GTF/GFF:           mt_contig   (e.g. 'NC_001328.1')
     * - Grep command to retrieve ribosomal RNA reads:  grep_rrna   (e.g. '_biotype "rRNA";')
    */
    mt_contig=""
    grep_rrna=""


    /* INSPECTING UNMAPPED READS
     *
     * Path to the Kraken2 database, which will be used to classify the unmapped reads.
     * If the kraken_db_path is empty, the pipeline will first install the database 
     * (default: PlusPF_16GB) and then classify the reads.
    */
    perform_kraken = true
    kraken_db_path = "/users/asebe/bvanwaardenburg/pkgs/kraken_2.1.3/pluspf/"


    /* CELLBENDER
    */
    perform_cellbender = false
}