params {
    /* Path to the BCA-preprocessing directory
     * Will be used to access sequencing-specific code & files,
     * and to run parts of the pipeline. 
    */
    baseDir = "/users/asebe/bvanwaardenburg/git/bca_preprocessing"
    
    /* Path to the results directory
     * All output files created by the pipeline will be stored here. 
     * IMPORTANT: has to exist before running and must contain at least:
     * resDir/
     * - /fastq/
     *      - FASTQ files
     * - /genome/
     *      - .fasta
     *      - .gtf/.gff 
    */
    resDir = "/users/asebe/bvanwaardenburg/git/data/250115_ParseBio_Nvec_Tcas_Pliv_Cele/Nvec_nuclei_BCA015_BCA016"

    /* Path to the Nextflow working directory
     * Within the working directory, Nextflow creates subdirectories 
     * for every individual process, and references these in its log files. 
    */ 
    workDir = "/users/asebe/bvanwaardenburg/git/data/work_dir"

    // Path to your local Conda installation
    conda_installation = "/users/asebe/bvanwaardenburg/miniconda3"

    /* Currently supporting the following sequencing techniques:
     * - "oak_seq"
     * - "parse_biosciences"
     * - "bd_rhapsody"
    */
    seqTech = "parse_biosciences"
    
    /* Reference genome files
     * Specify if the reference is a GTF or GFF file.
     * The references can differ for the STARsolo or Parse Biosciences pipeline
     * since Parse Biosciences has strict limits on the format and can give troubles.
    */
    annot_type = 'GTF'  // specify GTF or GFF
    ref_star_gtf = "${params.resDir}/genome/Nvec_v4_extended_cellranger.gtf"
    ref_parse_gtf = "${params.resDir}/genome/Nvec_v6_merged_noorphanpeaks_sort.gtf"
    ref_fasta = "${params.resDir}/genome/Nvec_vc1.1_gDNA_mtDNA.fasta"

    /* Variables for calculating mtDNA & rRNA content.   
     * - Mitochondrial DNA contig in GTF/GFF:           mt_contig   (e.g. 'NC_001328.1')
     * - Grep command to retrieve ribosomal RNA reads:  grep_rrna   (e.g. '_biotype "rRNA";')
    */
    mt_contig="OW052000.1"
    grep_rrna="rRNA"

    /* REQUIRED for Parse Biosciences pipeline:
     * Define groups of wells that should be processed together.
     * Important, should be defined as a nested list, even if only one group.
     * Example: groups = [['condition_1', 'A1-A3'], ['condition_2', 'A4-A6'], ...]
    */
    groups = [['DCE_FH', 'A7-A9']]

    /* OPTIONAL:
     * Installation paths of commercial software, uncomment ones that apply
     * to your analysis:
     * - cellranger_dir: 10x Genomics & OAK-seq
     * - bdrhap_pipeline_dir: BD Rhapsody
     * - parsebio_pipeline_dir: Parse Biosciences
    */
    // cellranger_dir = "/users/asebe/bvanwaardenburg/pkgs/cellranger-9.0.1"
    // bdrhap_pipeline_dir = "/users/asebe/bvanwaardenburg/pkgs/BDRhapsody_pipeline/CRSwDev-cwl-8d252728f875/v2.2.1"
    parsebio_pipeline_dir = "/users/asebe/bvanwaardenburg/pkgs/ParseBiosciences-Pipeline.1.3.1"
}